@use "sass:color";
@use "sass:map";

$white: #FFFFFF;
$black: #000000;
$darkblue: #081A2D;
$gray: #99A1AF;
$gold: #D4AF37;

$breakpoints: (
    xs: 576px,
    sm: 768px,
    md: 992px,
    lg: 1200px
);

$breakpoint: map.get($breakpoints, sm);