@use "reset" as *;
@use "variables" as *;
@use "mixins" as *;

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");

html {
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}

.pf {
    font-family: "Playfair", serif;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 20;
    width: 100%;
    transition: all 0.1s ease-in-out;

    &.is-scrolled {
        background-color: $darkblue;
    }

    .navbar-container {
        max-width: 1280px;
        width: 100%;
        padding: 1.5rem 1rem;
        margin: 0 auto;
        @include flex();

        .nav-logo {
            margin-right: auto;
        }

        .nav-links {
            gap: 2rem;
            @include flex();

            .link {
                color: $white;
                transition: all 0.2s ease-in-out;

                &.is-active,
                &:hover {
                    color: $gold;
                }
            }
        }
    }
}

.hero {
    position: relative;
    height: 100vh;
    background: url("../images/hero-bg.png") center / cover no-repeat;

    .overlay {
        position: absolute;
        background-color: $darkblue;
        opacity: 0.8;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        pointer-events: none;
    }

    .hero-container {
        position: relative;
        text-align: center;
        height: inherit;

        .hero-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $white;
            z-index: 10;

            &::after {
                content: "";
                position: absolute;
                top: -1.5rem;
                left: 50%;
                transform: translateX(-50%);
                width: 85px;
                height: 2px;
                background-color: $gold;
            }

            .content {
                &:first-child {
                    font-size: 72px;
                    text-wrap: balance;

                    @include screen-below(md) {
                        font-size: 48px;
                    }
                }

                &:nth-child(2) {
                    color: $gray;
                    line-height: 1.5rem;
                    text-wrap: balance;
                }

                &:last-child {
                    display: block;
                    background-color: $gold;
                    width: max-content;
                    margin: 0 auto;
                    padding: 1rem 2rem;
                    color: $black;
                    transition: all 0.2s ease-in-out;

                    &:hover {
                        background-color: rgba($gold, 0.7);
                        color: $white;
                    }
                }

                &:not(:last-child) {
                    margin-bottom: 1.5rem;
                }
            }
        }
    }
}

.about {
    .about-container {
        padding: 4rem 2rem;
        gap: 2rem;
        @include flex();

        @include screen-below(md) {
            flex-direction: column;
        }

        .about-content {
            flex: 1;

            img {
                display: block;
                width: 100%;
            }

            .content {
                &:first-child {
                    color: $gold;
                }

                &:nth-child(2) {
                    font-size: 48px;

                    @include screen-below(md) {
                        font-size: 36px;
                    }
                }

                &:nth-child(3) {
                    p {
                        line-height: 1.5rem;

                        &:not(:last-child) {
                            margin-bottom: 1rem;
                        }
                    }
                }

                &:nth-child(3),
                &:last-child {
                    color: $gray;
                }

                &:last-child {
                    .list {
                        display: flex;
                        align-items: center;

                        &::before {
                            content: "";
                            background: url("../icons/list-icon.png") center / cover no-repeat;
                            width: 20px;
                            height: 20px;
                            margin-right: 0.5rem;
                        }

                        &:not(:last-child) {
                            margin-bottom: 0.5rem;
                        }
                    }
                }

                &:not(:last-child) {
                    margin-bottom: 1rem;
                }
            }
        }
    }
}

.service {
    background-color: $darkblue;

    .service-container {
        flex-direction: column;
        padding: 4rem 2rem;
        max-width: 1280px;
        margin: 0 auto;
        @include flex();

        .service-content {
            color: $white;

            &:not(:last-child) {
                margin-bottom: 2rem;
            }

            .content {
                text-align: center;

                &:first-child {
                    color: $gold;
                }

                &:nth-child(2) {
                    font-size: 48px;
                }

                &:nth-child(3) {
                    width: 85px;
                    height: 2px;
                    background-color: $gold;
                    margin: 0 auto;
                }

                &:last-child {
                    color: $gray;
                }

                &:not(:last-child) {
                    margin-bottom: 1.5rem;
                }
            }

            &.card-content {
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;

                .card {
                    background-color: rgba($white, 0.1);
                    width: calc((100% - 2rem) / 3);
                    padding: 2rem;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    @include screen-below(md) {
                        width: calc((100% - 1rem) / 2);
                    }

                    .card-img {
                        max-width: 48px;
                        padding: 0.5rem;
                        background-color: rgba($black, 0.3);

                        img {
                            display: block;
                            width: 100%;
                        }
                    }

                    .card-title {
                        font-size: 24px;
                    }

                    .card-desc {
                        line-height: 1.5rem;
                        color: $gray;
                    }
                }
            }
        }
    }
}

.portfolio {
    .portfolio-container {
        @include flex();
        flex-direction: column;
        padding: 4rem 2rem;
        max-width: 1280px;
        margin: 0 auto;

        .portfolio-content {
            text-align: center;

            .content {
                &:first-child {
                    color: $gold;
                }

                &:nth-child(2) {
                    font-size: 48px;
                }

                &:nth-child(3) {
                    width: 85px;
                    height: 2px;
                    background-color: $gold;
                    margin: 0 auto;
                }

                &:last-child {
                    color: $gray;

                    p {
                        text-wrap: balance;
                        line-height: 1.5rem;

                        &:not(:last-child) {
                            margin-bottom: 1rem;
                        }
                    }
                }

                &:not(:last-child) {
                    margin-bottom: 1.5rem;
                }
            }

            &.img-content {
                @include flex(center);
                flex-wrap: wrap;
                gap: 1rem;
                margin-top: 2rem;

                .img {
                    height: 250px;
                    overflow: hidden;
                    max-width: calc((90% - 2rem) / 3);
                    width: 100%;

                    @include screen-below(md) {
                        height: 120px;
                        max-width: calc((90% - 2rem) / 3);
                    }

                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

.footer {
    background-color: $darkblue;
    padding: 4rem 2rem;

    .footer-container {
        margin: 0 auto;
        max-width: 1280px;

        .footer-content {
            position: relative;
            display: flex;
            justify-content: space-around;
            width: 100%;
            padding-bottom: 4rem;
            gap: 4rem;

            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                background-color: rgba($gray, 0.5);
                bottom: 0;
            }

            .content {
                color: $white;
                flex: 1;

                &:first-child {
                    flex: 2;
                }

                .footer-desc {
                    color: $gray;
                    line-height: 1.5rem;
                }

                .footer-text {
                    color: $gold;
                    font-weight: bold;
                    margin-bottom: 1.5rem;
                }

                .footer-links {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    a {
                        color: $gray;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        .footer-cr {
            div {
                width: 100%;
                padding-top: 2rem;
                color: $gray;
            }
        }
    }

}

@media screen and (max-width: 480px) {
    .about {
        .about-container {
            .about-content {
                .content {

                    &:nth-child(3),
                    &:last-child {
                        font-size: 12px;
                    }

                    &:last-child {
                        .list {
                            &::before {
                                width: 15px;
                                height: 15px;
                            }
                        }
                    }
                }
            }
        }
    }

    .service {
        .service-container {
            .service-content {
                &.card-content {
                    .card {
                        width: 100%;
                        padding: 1rem;
                        gap: 0.5rem;

                        .card-img {
                            max-width: 36px;
                        }

                        .card-title {
                            font-size: 18px;
                        }

                        .card-desc {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    .portfolio {
        .portfolio-container {
            .portfolio-content {
                &.img-content {
                    flex-direction: column;

                    .img {
                        height: 220px;
                        max-width: 100%;
                    }
                }
            }
        }
    }
}