@use "reset" as *;
@use "variables" as *;

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");

html {
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}

.playfair {
    font-family: "Playfair", serif;
}

.container {
    max-width: 1280;
    width: 100%;
    height: 100vh;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 20;
    width: 100%;
    transition: all 0.1s ease-in-out;

    &.is-scrolled {
        background-color: $darkblue;
    }

    .navbar-container {
        display: flex;
        width: 100%;
        padding: 1.5rem 1rem;
        max-width: 1280px;
        margin: 0 auto;

        .nav-logo {
            margin-right: auto;
        }

        .nav-links {
            .link {
                color: $white;
                transition: all 0.2s ease-in-out;

                &.is-active {
                    color: $gold;
                }

                &:not(:last-child) {
                    margin-right: 2rem;
                }

                &:hover {
                    color: $gold;
                }
            }
        }
    }
}

.hero {
    position: relative;
    height: 100vh;
    background: url("../images/hero-bg.png") center / cover no-repeat;

    .overlay {
        position: absolute;
        background-color: $darkblue;
        opacity: 0.8;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
    }

    .hero-container {
        position: relative;
        text-align: center;
        height: inherit;

        .hero-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $white;
            z-index: 10;

            &::after {
                content: "";
                position: absolute;
                top: -1.5rem;
                left: 50%;
                transform: translateX(-50%);
                width: 85px;
                height: 2px;
                background-color: $gold;
            }

            .content {
                &:first-child {
                    font-family: "Playfair", serif;
                    font-size: 72px;
                    text-wrap: balance;
                }

                &:nth-child(2) {
                    color: $gray;
                    line-height: 1.5rem;
                    text-wrap: balance;
                }

                &:last-child {
                    display: block;
                    background-color: $gold;
                    width: max-content;
                    margin: 0 auto;
                    padding: 1rem 2rem;
                    color: $black;
                    transition: all 0.2s ease-in-out;

                    &:hover {
                        background-color: rgba($gold, 0.7);
                        color: $white;
                    }
                }

                &:not(:last-child) {
                    margin-bottom: 1.5rem;
                }
            }
        }
    }
}

.about {
    margin: 4rem 0;

    .about-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 2rem;
        gap: 2rem;

        .about-content {
            flex: 1;

            img {
                display: block;
                width: 100%;
            }

            .content {
                &:first-child {
                    color: $gold;
                }

                &:nth-child(2) {
                    font-size: 48px;
                    font-family: 'Playfair', serif;
                }

                &:nth-child(3) {
                    p {
                        line-height: 1.5rem;

                        &:not(:last-child) {
                            margin-bottom: 1rem;
                        }
                    }
                }

                &:nth-child(3),
                &:last-child {
                    color: $gray;
                }

                &:last-child {
                    .list {
                        display: flex;
                        align-items: center;

                        &::before {
                            content: "";
                            background: url("../icons/list-icon.png") center / cover no-repeat;
                            width: 20px;
                            height: 20px;
                            margin-right: 0.5rem;
                        }

                        &:not(:last-child) {
                            margin-bottom: 0.5rem;
                        }
                    }
                }

                &:not(:last-child) {
                    margin-bottom: 1rem;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .hero {
        .hero-container {
            .hero-content {
                .content {
                    &:first-child {
                        font-size: 48px;
                    }
                }
            }
        }
    }

    .about {
        .about-container {
            flex-direction: column;

            .about-content {

                .content {
                    &:nth-child(2) {
                        font-size: 36px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .about {
        .about-container {
            flex-direction: column;

            .about-content {

                .content {
                    &:nth-child(3),
                    &:last-child {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}